extends layout

block styles
    link(rel='stylesheet', href='styles/main.css')

block content
    div
        select#countrySelector
            option(value="", selected=selectedCountry === "") Select Country
            each country in countries
                option(value=country.id, selected=selectedCountry === country.id) #{country.name}
        select#stateSelector
            option(value="", selected=selectedState === "") Select State
            option(value="OK", selected=selectedState === "OK") Valid Phone Number
            option(value="NOK", selected=selectedState === "NOK") InValid Phone Number
    br
    br
    div
        table#countriesPhones
            thead
                th Country
                th State
                th Country Code
                th Phone num
            tbody
                each countryPhoneData in countriesPhonesData
                    tr
                        td #{countryPhoneData.countryName}
                        td #{countryPhoneData.phone.state}
                        td +#{countryPhoneData.phone.code}
                        td #{countryPhoneData.phone.number}

block scripts
    script(src='scripts/main.js')